<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="edu.fsu.cs.contextprovider">
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>

	<application android:label="@string/app_name" android:icon="@drawable/cw">


		<provider android:name="ContextProvider" android:authorities="edu.fsu.cs.contextprovider" />

		<activity android:name="ContextBrowserActivity"
			android:label="@string/app_name" android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<service android:name="edu.fsu.cs.contextprovider.sensor.GPSService"></service>
		<service android:name="edu.fsu.cs.contextprovider.sensor.AccelerometerService"></service>
		<uses-library android:name="com.google.android.maps" />
	</application>



	<supports-screens android:largeScreens="true"
		android:normalScreens="true" android:smallScreens="true"
		android:anyDensity="true" />

	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"></uses-permission>
</manifest>
